@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
// Colors
$green: #7ac142;
$new-green: rgb(190, 216, 165);
$white: #fff;

// Misc
$curve: cubic-bezier(0.65, 0, 0.45, 1);

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: white;
  color: #444;
}

.App {
  padding: 20px;
}

nav.navbar {
  display: flex;
  padding: 0px 20px;
  background: #686de0;
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

#home-btn {
  color: white;
  text-decoration: none;
}

.product-details {
  width: 80%;
  height: auto;
  position: fixed;
  top: 0;
  left: 10%;
  display: flex;
  // background-color: rgb(230, 230, 230);
  background-color: #eef2f7;
}

.cart-slide {
  width: 40%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  background-color: white;
  z-index: 1;
}
.quantity {
  padding: 10px;
  width: 150px;
}

.cart-details {
  .quantity {
    color: rgb(200, 200, 200);
  }
  .price {
    color: #444;
    font-weight: 500;
    font-size: 1.3rem;
  }
}

.totals {
  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  h5 {
    color: rgb(200, 200, 200);
    width: 30%;
    text-align: left;
  }

  .final-total {
    h5,
    p {
      color: #444;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.product-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;

  p {
    color: rgb(200, 200, 200);
    width: 30%;
    margin: 5px;
  }
  h5 {
    color: #444;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 5px;
  }
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}
.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
}
.nav-btn {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  z-index: 2;
}

ul {
  width: 230px;
  z-index: 2;
  position: relative;
  margin: 0 40px;
  margin-bottom: -1rem;
  @media (min-width: 1203px) {
    position: absolute;
    margin: 0;

    top: 100px;
    padding: 25px;
  }
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
  z-index: 2;
  // transition: all 0.1s;
}
div.background-close {
  width: 0;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0px;
}

.quantity {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;

  background-color: #fff;
  border-radius: 25px;
}

.slide {
  position: fixed;
  top: 0px;
  height: 0px;
  width: 0px;
  background-color: red;
  transition: all 1s;
}

.slide-toggle {
  height: 100vh;
  width: 100vw;
}

.checkmark {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  stroke-width: 2;
  stroke: $white;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px $new-green;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: $new-green;
  fill: none;
  animation: stroke 0.6s $curve forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s $curve 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $new-green;
  }
}

.nav-close {
  display: none;
}

.page-container {
  margin-top: 80px;
  background-color: #eef2f7;
  border-radius: 0 0 0 50%;
}

// .login {
//   position: fixed;
//   top: 200px;
//   animation: log 1s;
//   background-color: white;
//   padding: 50px;
// }

@keyframes log {
  0% {
    left: 100vw;
  }
  100% {
    left: 0;
  }
}

.detail-div {
  width: 100%;
  background: #eef2f7;
  padding: 15px;
  border: 1px solid #444;
  border-radius: 5px;
  // overflow: auto;

  height: 90vh;
}

.header-info {
  position: relative;
  top: 100px;
  left: 5%;
  display: none;
  @media screen and (min-width: 1023px) {
    display: block;
  }
}

.moblie-title {
  color: white;
  @media screen and (min-width: 1023px) {
    display: none;
  }
}

.home-container {
  display: block;
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
  }
}

.products-container {
  width: 100%;
  // background-color: #eef2f7;
  // border-radius: 25px;
  @media screen and (min-width: 1023px) {
    width: 90%;
  }
}

.product-nav {
  z-index: 1;
  display: flex;
  @media (min-width: 1023px) {
    display: block;
  }
}

.space {
  height: 350px;
}
.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  h1 {
    flex: left;
    text-align: left;
    // border-bottom: 1.5px solid #444;
    width: 250px;
  }

  input {
    width: 250px;
  }
}
.signup {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  h1 {
    flex: left;
    text-align: left;
    // border-bottom: 1.5px solid #444;
    width: 250px;
  }

  input {
    width: 250px;
  }
}

.google-login {
  margin: 0 25px;
  border-radius: 30px;
}

.nav-link {
  color: #444;
  padding: 5px;
  // background-color: white;
  // box-shadow: 0 2.8px 3px rgba(0, 0, 0, 0.034);
  // border-radius: 5px;
  // width: 120px;
}

.button-link {
  color: white;
}

.no-cart-items {
  margin: 25vh 0;
  text-align: center;
}

.details-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-container {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 40px;
    @media (min-width: 1023px) {
      width: 600px;
    }
    div {
      width: 200px;
    }
  }
}

.inputs {
  margin: 10px 0;
}

.img-test {
  width: 100px;
  height: 100px;
  mix-blend-mode: multiply;
}

.selected {
  border-bottom: 1px solid rgb(226, 169, 146);
  font-size: 1.3rem;
}

.nav-cover {
  background-color: rgb(226, 169, 146);
  width: 100px;
  height: 50px;
  z-index: -1;
  position: relative;
  top: -10px;
  left: -80px;
}

.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
.line-1 {
  position: relative;
  top: 50%;
  width: 50px;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.logout-btn {
  padding: 8px 16px;
  margin: 0;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  div {
    width: 360px;
    @media (min-width: 1027px) {
      width: 600px;
    }
  }
}

.landing-link {
  text-decoration: none;
}

.price-container {
  margin: 50px 0;
}
